header {
  width: 100%;
  height: .45rem;
  line-height: .45rem;
  background: #2ca2f9;
  text-align: center;
  .first-head {
    left: .1rem;
    top: .1rem;
  }
  button {
    width: .82rem;
    height: .26rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: .03rem;
    background: #2ca2f9;
  }
  .last-head {
    right: .1rem;
    top: .15rem;
  }
}

nav {
  padding: 0 .1rem;
  height: .45rem;
  line-height: .45rem;
  text-align: center;
  box-shadow: 1px 1px 1px 1px #ccc;
  a {
    font-size: .16rem;
  }
  .pitch {
    border-bottom: 3px solid #2ca2f9;
  }
}

.content {
  position: absolute;
  top: .91rem;
  bottom: 0;
  width: 100%;
  background: #fbfbfb;
}

.swiper-slide img {
  width: 100%;
}

#new {
  overflow: hidden;
  p {
    height: .4rem;
    line-height: .4rem;
    padding: 0 .1rem;
    border-bottom: 1px solid #ccc;
    img {
      margin-top: .1rem;
    }
  }
}

#gedan, #seniority {
  background: #fff;
  dl {
    height: .95rem;
    padding: .1rem;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    dt {
      width: .75rem;
      height: .75rem;
      margin-right: .1rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
    dd {
      p {
        font-size: .12rem;
        padding-top: .2rem;
        line-height: .22rem;
      }
      .num {
        color: #ccc;
        font-size: .1rem;
      }
      .pa {
        right: .1rem;
        top: .2rem;
        color: #ccc;
        font-size: .2rem;
      }
    }
  }
}

#geshou {
  padding: 0 .1rem;
  background: #fff;
  ul{
    border: 1px solid #eee;
    border-radius: .05rem;
    margin-top: .15rem;
    li{
      height: .4rem;
      line-height: .4rem;
      padding: 0 .1rem;
      box-sizing: border-box;
      border-bottom: 1px solid #eee;
      font-size: .14rem;
      .fr{
        font-size: .22rem;
        color: #ccc;
      }
    }
  }
}
